# Backups
*.bib~*

# LaTeX files
all.aux
all.bbl
all.bcf
all.blg
all.fdb_latexmk
all.fls
all.log
all.out
all.run.xml

# Ignore the actual documents
*/
!abstracts/
*.doc
*.docx
*.mobi
*.odt
*.pdf
*.pdf.bz2
*.ps
*.tar.bz2
