# Backups
*.bib~*

# LaTeX files
*.aux
*.fdb_latexmk
*.fls
*.log
all.bbl
all.bcf
all.blg
all.out
all.run.xml

# Ignore the actual documents
*/
!abstracts/
*.doc
*.docx
*.mobi
*.odt
*.pdf
*.pdf.bz2
*.ps
*.tar.bz2
